<header>
  <div class="header-container">
    <h1>Open House AI</h1>
  </div>
</header>
<div class="container list-container">
  <div class="loader" *ngIf="showLoader"></div>
  <div class="cards">
    <a *ngFor="let item of communities" class="card" href="#">
      <span
        class="card-header"
        [style.background-image]="
          item.imgUrl ? 'url(' + item.imgUrl + ')' : 'url(' + defaultLink + ')'
        "
      >
        <span class="card-title">
          <h3>{{ item.name }}</h3>
        </span>
      </span>
      <div class="card-content-container">
        Average Home Price:
        <div class="price">
          {{
            item.avgPrice ? item.avgPrice.toFixed(2) : " Price Not Available"
          }}
        </div>
      </div>
    </a>
  </div>
</div>
